html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    font-size: 14px;
    background: rgb(0, 48, 97);
  }
  
  .photobooth {
    background:white;
    max-width:150rem;
    margin: 2rem auto;
    border-radius:2px;
  }
  
  /*clearfix*/
  .photobooth:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .photo {
    float:left;
  }
  
  .player {
    position: absolute;
    top:20px;
    right: 20px;
    width:200px;
    display: none;
  }
  
  /*
    Strip!
  */
  
  .strip {
    padding:2rem;
  }
  .strip img {
    width:500px;
    overflow-x: scroll;
    padding:0.8rem;
    box-shadow:0 0 3px rgba(0,0,0,0.2);
    background:white;
    margin-top: 70px;
    margin-left: 20px;
  }

  .output {
    width: 100%;
    background:white;
    margin: 2rem auto;
  }

  #photo {
    max-width: 600px;
    max-height: 600px;
  }